.container {
    margin: 24px;
}

mat-card {
    max-width: 320px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
}

mat-form-field {
    width: auto;
}

#submit {
    /* margin-left: 16px; */
    float: right;
    display: block;
}

h4 {
    margin-bottom: 4px !important;
}