<div class="container">
    <mat-card id="signup-card">
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-content>
            <form>
                <p *ngIf="response == 'no'">Something's wrong</p>
                <mat-form-field color="accent">
                    <input matInput name="user" placeholder="Username" [(ngModel)]="user" required autofocus>
                </mat-form-field>
                <br>
                <mat-form-field color="accent">
                    <input matInput name="pass" placeholder="Password" type="password" [(ngModel)]="pass" required>
                </mat-form-field>
                <br>
                <mat-form-field color="{{pass == pass2 ? 'accent' : 'error'}}">
                    <input matInput name="pass" placeholder="Type password again" type="password" [(ngModel)]="pass2"
                        required>
                </mat-form-field>
                <a id="signin" mat-button routerLink="">Sign In</a>
                <button id="submit" type="submit" mat-raised-button (click)="submit()" color="accent"
                    disabled="{{pass == pass2 ? 'false' : 'true'}}">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>